/*

## Allowlist
!.gitignore
!.gitmodules
!README.md

# Source code
!/src/
!/include/
!/lib/
!/components/
# Config header template
!/include/user_config.h.tmpl
/include/user_config.h
# Build system
!/platformio.ini
!/CMakeLists.txt
!/sdkconfig.defaults
!/partitions.csv
!/.clang-format*
!/LICENSE
# External dependencies (submodules)
!/external/

# Macintosh apps
!/mac-app/

# Home Assistant automation
!/homeassistant/

# Others
!/assets/
!/tools/
!/enclosure/
!/cyd_800k.dsk

## Denylist
# Build artifacts
.pio/
build/
**/*.o
**/*.elf
**/*.map
dependencies.lock
sdkconfig.esp*

# ESP-IDF managed components
managed_components/

# User data
data/disk.img

# Copyrighted Apple system disk images
assets/system-disks/
rom.bin
rom_patched.bin
rom_128k.bin
# Copyrighted Apple ROM and system disk images
*.ROM
*.rom
web/full-flash-original.bin
web/full-flash-original-debug.bin
web/cyd_800k-original.dsk
web/littlefs-original.bin
web/merged-firmware-original.bin
